.home{
    .collection{
        margin-top: 40px;
    }
    .info{
        text-align: center;
        padding-inline: 8px;
        .subheading{
            margin-top: 10px;
        }
    }
    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
        margin-top: 20px;
    }
}